$color-primary-green: hsl(75, 94%, 57%);
$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-grey: hsl(0, 0%, 20%);
$color-neutral-dark-grey: hsl(0, 0%, 12%);
$color-neutral-black: hsl(0, 0%, 8%);

$font-size-body: 14px;
$font-size-heading: 24px;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$mobile-width: 23.4375em; // 375px
$laptop-width: 45em; // 720px
$desktop-width: 90em; // 1440
