<article class="social-profile">
  <header class="social-profile__header">
    <img
      ngSrc="assets/images/avatar-jessica.jpeg"
      [alt]="'avatar of ' + 'name'"
      class="image"
      title="Jessica"
      height="176"
      width="176"
      priority
    />

    <h1 class="name">Jessica Randall</h1>
    <p class="location">London, United Kingdom</p>
  </header>

  <p class="social-profile__quote">"Front-end developer and avid reader."</p>

  <div class="social-profile__links">
    <app-social-link link="">Github</app-social-link>
    <app-social-link link="">Frontend Mentor</app-social-link>
    <app-social-link link="">Linkedin</app-social-link>
    <app-social-link link="">Twitter</app-social-link>
    <app-social-link link="">Instagram</app-social-link>
  </div>
</article>
