@import "assets/styles/main.scss";

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  color: $color-neutral-white;
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  background-color: $color-neutral-black;
  display: grid;
  place-items: center;
}
